body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        
        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }
        
        .icon {
            padding: 10px;
            background-image: linear-gradient( to right, rgb(221, 103, 34), rgba(184, 22, 184, 0.74));
            color: white;
            min-width: 50px;
            text-align: center;
        }
        
        .input-field {
            width: 100%;
            padding: 10px;
            outline: none;
        }
        
        .input-field:focus {
            border: 2px solid dodgerblue;
        }
        
        /* Set a style for the submit button */
        .btn {
            background-image: linear-gradient( to right, rgb(221, 103, 34), rgba(184, 22, 184, 0.74));
            border: white solid;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }
        
        .btn:hover {
            opacity: 1;
        }
        
        #edit {
            
            height: 200px;
        }
        
        #caixa {
            
            background-image: url(https://static.vecteezy.com/packs/media/components/home/masthead-vectors/img/lavakidneys_800x400@2x-2db5e5a0c944e2b16a11a18674570f76.jpg);
            background-size: cover;
        }
        
        #username {
            
            margin-top: 30px;
        }